<ion-view title="Entry" id="page2">
    <ion-content padding="true" class="has-header">
        <button id="entry-button1" style="border-radius:10px 10px 10px 10px;" class="button button-balanced button-large button-block" ng-click="feed()">Feed</button>
        <button id="entry-button2" style="border-radius:10px 10px 10px 10px;" class="button button-balanced button-large button-block" ng-click="poop()">Poop</button>
        <button id="entry-button3" style="border-radius:10px 10px 10px 10px;" class="button button-balanced button-large button-block"ng-click="normalsleep()"> Normal Sleep</button>
        <button id="entry-button4" style="border-radius:10px 10px 10px 10px;" class="button button-balanced button-large button-block" ng-click="feedsleep()">Feed Sleep</button>
        <button id="entry-button5" style="border-radius:10px 10px 10px 10px;" class="button button-balanced button-large button-block" ng-click="hugsleep()">Hug Sleep</button>
        <button id="entry-button6" style="border-radius:10px 10px 10px 10px;" class="button button-balanced button-large button-block" ng-click="wake()">Wake</button>
    </ion-content>
</ion-view>
