<ion-view title="Entry" id="page3">
    <ion-content padding="true" class="has-header">
        <button id="entry-button2" class="button button-positive  button-block" ng-click="feed()">Feed</button>
        <button id="entry-button3" style="border-radius:2px 2px 2px 2px;" class="button button-positive  button-block" ng-click="poop()">Poop</button>
        <button id="entry-button5" class="button button-positive  button-block" ng-click="normalsleep()">Normal Sleep</button>
        <button id="entry-button6" class="button button-positive  button-block" ng-click="hugsleep()">Hug Sleep</button>
        <button id="entry-button7" class="button button-positive  button-block" ng-click="feedsleep()">Feed Sleep</button>
        <button id="entry-button8" class="button button-positive  button-block" ng-click="wake()">Wake</button>
    </ion-content>
</ion-view>
